[Unit]
Description=Run Atlas Backup (Full/Incremental)

[Timer]
# Run every 6 hours
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
